body{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.formucolor{
    max-width: 25em;
    padding: 1.3em;
    margin: 0 auto;
    background-color: rgbas(120, 119, 123, 0.3);
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: inset 1px 1px 22px 4px rgba(0,0,0,0.85);
}
option{
    text-align: center;
}